{% extends 'base.html' %}

{% block titulo %}
{{ super() }}
Validacion de formularios
{% endblock %}

{% block contenido %}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-justify">
        <form method="POST">
            <legend>¿Tienes licencia de conducir?<abbr title="Este campo es obligatorio" aria-label="required">*</abbr>
            </legend>
            <!-- Solo se puede seleccionar un botón de opción en un grupo con el mismo nombre,
                     y, por lo tanto, solo un botón de opción en un grupo con el mismo nombre que tiene marcado el atributo «requerido»
                     basta para hacer de una selección un requisito -->
            <div class="form-check">
                <input class="form-check-input" type="radio" name="driver" id="r1" value="yes" required>
                <label class="form-check-label" for="exampleRadios2">
                    Si
                </label>
                <br>
                <input class="form-check-input" type="radio" name="driver" id="r1" value="no">
                <label class="form-check-label" for="exampleRadios2">
                    No
                </label>
            </div>
            <div class="form-check">

                <div class="form-group">
                    <label for="formGroupExampleInput">¿Qué edad tienes?</label>
                    <input class="form-control" type="number" min="18" max="120" step="1" id="n1" name="age"
                        pattern="\d+" required>
                </div>




                <div class="form-group">
                    <label for="formGroupExampleInput">-Selecciona tu estado-</label>
                    <select class="form-control" id="exampleFormControlSelect1">

                        <option>Puebla</option>
                        <option>Hidalgo</option>
                        <option>Tlaxcala</option>
                        <option>CDMX</option>
                        <option>Estado de Mexico</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlInput1"> ¿Cuál es tu dirección de correo electrónico? </label>
                    <input type="email" required class="form-control" id="correo">
                </div>

                <div class="form-floating">
                    <label for="floatingTextarea">Deja un cometario</label>
                    <textarea class="form-control" required style="height: 150px" name="msg" maxlength="14"
                        rows="5"></textarea>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Enviar</button>
        </form>

    </div>
</div>

{%endblock%}